<div class='about'>
	<div>
		<img data-aos="zoom-in" src='../assets/images/about-img.png'>
		<div data-aos="zoom-in">
			<h2>Step into burger heaven</h2>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
				Est, veniam error fugit quasi perspiciatis blanditiis quo, 
				sint beatae ut, commodi fuga illo reprehenderit ea 
				voluptatibus earum fugiat obcaecati doloremque? Aspernatur?
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
				Est, veniam error fugit quasi perspiciatis blanditiis quo, 
				sint beatae ut, commodi fuga illo reprehenderit ea voluptatibus 
				earum fugiat obcaecati doloremque? Aspernatur?Lorem ipsum, dolor 
				sit amet consectetur adipisicing elit. Est, veniam error fugit quasi perspiciatis 
				blanditiis quo, sint beatae ut, commodi fuga illo reprehenderit ea 
				voluptatibus earum fugiat obcaecati doloremque? Aspernatur?
			</p>
		</div>
	</div>
	<div>
		<div data-aos="zoom-in" class='contact'>
			<h2>Contact</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
				Est, veniam error fugit quasi perspiciatis blanditiis quo, 
				sint beatae ut, commodi fuga illo reprehenderit ea 
				voluptatibus earum fugiat obcaecati doloremque? Aspernatur?
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
				Est, veniam error fugit quasi perspiciatis blanditiis quo, 
				sint beatae ut, commodi fuga illo reprehenderit ea voluptatibus 
				earum fugiat obcaecati doloremque? Aspernatur?Lorem ipsum, dolor 
				sit amet consectetur adipisicing elit. Est, veniam error fugit quasi perspiciatis 
				blanditiis quo, sint beatae ut, commodi fuga illo reprehenderit ea 
				voluptatibus earum fugiat obcaecati doloremque? Aspernatur?
			</p>
		</div>
		<div data-aos="zoom-in" class='map'>
			<iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d25527.447141852528!2d30.683490730300324!3d36.89200146961584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m3!3m2!1d36.8940926!2d30.7082111!4m0!5e0!3m2!1sde!2str!4v1650577479577!5m2!1sde!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</div>
