<div class='orders' *ngIf="orders.length; else noOrders">
	<h2>Table of orders</h2>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Phone</th>
				<th>Name</th>
				<th>Address</th>
				<th>Products</th>
				<th>Price</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let order of orders">
				<td>{{ order.date | date: 'medium' }}</td>
				<td>{{ order.phone }}</td>
				<td>{{ order.name }}</td>
				<td>{{ order.addres }}</td>
				<td class='products'><div *ngFor="let product of order.orders">{{ product.title }}</div></td>
				<td>
					<div>{{ order.price }}$</div>
					<div>{{ order.payment }}</div>
				</td>
				<td><button (click)="remove(order.id)">Complited</button></td>
			</tr>
		</tbody>
	</table>
</div>
<ng-template #noOrders>
	<mat-progress-bar mode="indeterminate" value='40'></mat-progress-bar>
</ng-template>
