<div class='burger-banner'>
	<img src='../assets/images/burger-baner.png'>
	<div class='home-content'>
		<h2>So meaty you'll go crazy</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit.
			<br> 
			Dolores at fuga aliquam ipsa recusandae repellat laudantium pariatur amet culpa cum.
		</p>
		<a [routerLink]="['/menu']">Our Menu</a>
		<div class='blog'>
			<div class='blog-title'>
				<img src='../assets/images/title-img.png'>
				<h2>Daily posts</h2>
			</div>
			<div class='blog-images'>
				<div data-aos="zoom-in">
					<img src='../assets/images/blog-1.jpg'>
					<h3>blog title goes here.</h3>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, maxime.</p>
				</div>
				<div data-aos="zoom-in">
					<img src='../assets/images/blog-2.jpg'>
					<h3>blog title goes here.</h3>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, maxime.</p>
				</div>
				<div data-aos="zoom-in">
					<img src='../assets/images/blog-3.jpg'>
					<h3>blog title goes here.</h3>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, maxime.</p>
				</div>
			</div>
		</div>
	</div>
</div>
